$font-size-big: 64px;
$font-size-still: 56px;
$font-size-title: 48px;
$font-size-average:32px;
$font-size-word: 30px;
$font-size-normal: 24px;
$font-size-small: 16px;

$font-weight-big: 700;
$font-weight-fat: 600;
$font-weight-small: 500;
$font-weight-normal: 400;

$color-text-1: #202027;
$color-text-2: #FFFFFF;

$background-dark:#202027; 
$background-wite: #FFFFFF;
$background-game: #F7F7F7;
$background-green: #BCEC30;

$color-border-dark: #202027;
$color-border-wite: #FFFFFF;