$font-size-big: 64px;
$font-size-normal: 24px;

$font-weight-big: 700;
$font-weight-fat: 600;
$font-weight-normal: 400;

$color-text-1: #202027;
$color-text-2: #FFFFFF;

$color-border-dark: #202027;
$color-border-wite: #FFFFFF;