@import 'variables';

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top {
    height: 710px;

    &__header {        
        padding-top: 196px;
        padding-bottom: 246px;
        background-color: #E1FF8F;
        background-image: url('./img/star-1.png'), url('./img/star-2.png'), url('./img/star-3.png');
        background-position: 63px 69px, 100% 0, calc(100% - 344px) calc(100% - 149px);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    &__sect {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
    &__title {
        max-width: 769px; 
        font-weight: $font-weight-big;
        color: $color-text-1;
        font-size: $font-size-big;
        line-height: 78px;
    }
    &__text {
        line-height: 32px;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        color: $color-text-1;
        max-width: 720px;
    }
    &__btn {
        text-decoration-line: none;        
    }   
    &__btn-mob {
        display: none;
    }
}
.btn {
    width: 247px;
    color: $color-text-2;
    font-size: $font-size-normal;
    font-weight: $font-weight-fat;    
    font-family: inherit;
    background: $color-border-dark;
    box-sizing: border-box;        
    padding: 16px 65px;
    border-radius: 60px;
    transition: all 0.5s ease;
    border: 1px solid transparent; 
    &:hover {              
        background-color: $color-border-wite;
        color: $color-text-1;      
        border-color: $color-border-dark;      
    }
    
}

.stripe {    
    height: 90px;
    background-color: #BCEC30;
    width: 100%; /* Ограничиваем ширину блока */
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 16px;   
    overflow-x: hidden; /* Добавляем горизонтальную прокрутку */
    justify-content: space-between; /* Размещаем элементы равномерно */
    gap: 51px;
    
    &__word {
        box-sizing: border-box;
        font-size: $font-size-word;
        font-weight: $font-weight-big;
        line-height: 33px;
    }
    &__star-mob {
        display: none;
    }
}
.about {
    padding-top: 94px;
    padding-bottom: 50px;
    background-color: $background-dark;
    background-image: url('./img/star-4.png'), url('./img/star-5.png');
    background-position: 25px 77px, calc(100% - 77px) calc(100% - 814px);
    background-repeat: no-repeat;


    &__title {
        font-weight: $font-weight-big;
        color: $color-text-2;
        font-size: $font-size-big;
        line-height: 78px;
        padding-bottom: 24px;
    }
    &__text {
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        color: $color-text-2;
        max-width: 788px;
        padding-bottom: 72px;
        line-height: 32px;
    }
    &__games {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        align-items: flex-start; 
    }
    &__card {
        background-color: $background-wite;
        max-width: 378px;
        box-sizing: border-box;
        border-radius: 30px;
        text-decoration: none; /* Убираем подчеркивание */
        display: block; /* Делаем ссылку блочным элементом */
        color: $color-text-1; /* Цвет текста - черный */
        transition: 0.5s; /*Плавное увеличение и уменьшение карточки*/
        &:hover {
        transform: scale(1.05);
        }
    &__card img {
        width: 100%; /* Чтобы картинка растягивалась на всю карточку */
        border-radius: 30px 30px 0 0; /* Скругление верхних углов */
    }
    }
    &__card-small {
        align-self: flex-start;
        height: 473px;
        
    }
    &__card-big {
        height: 512px;
    }
    &__card-super {
        height: 551px;          
    }
    &__card-up {
        align-self: flex-start;
    }
    &__card-down {
        align-self: flex-end;
        margin-top: -39px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px 32px 36px 32px;
    }
    &__namber {
        box-sizing: border-box;
        padding: 8px 16px;
        width: 108px;
        border-radius: 52px;
        background-color: $background-game;
        font-size: $font-size-small;
        font-weight: $font-weight-small;
        line-height: 110%;

    }
    &__name {
        display: block;
        word-break: break-word;
        line-height: 39px; /* Уменьшаем межстрочный интервал */
        font-size: $font-size-average;
        font-weight: $font-weight-big;
    }
}

.mini {      
    background-color: $background-dark;
    background-image: url('./img/star-6.png'), url('./img/star-7.png');
    background-position: calc(100% - 93px) calc(100% - 3366px), calc(100% - 93px) calc(100% - 45px);
    background-repeat: no-repeat;
    padding-bottom: 144px;
    
    &__title {
        font-weight: $font-weight-big;
        color: $color-text-2;
        font-size: $font-size-big;
        line-height: 78px;
        padding-top: 46px;
        padding-bottom: 72px;
    }
    &__games {        
        flex-wrap: wrap; /* Позволяет элементам переноситься */
        max-width: 100%; /* Ограничиваем ширину */        
        box-sizing: border-box;
        margin: 0 auto; /* Центрируем блок */
        display: flex;
        gap: 32px;
        flex-direction: column;
    }
    &__card {        
        background-color: $background-wite;
        width: 100%;
        box-sizing: border-box;
        border-radius: 30px;               
        color: $color-text-1;
        display: flex;
        flex-wrap: nowrap;    
    }
    &__right {
        flex-direction: row-reverse;
    }

    &__card img {
        width: 50%; /* Чтобы картинка растягивалась на всю карточку */
        max-width: 50%; /* Не позволяет картинке выходить за пределы */
        border-radius: 30px 30px 0 0; /* Скругление верхних углов */
    }
   
    &__box {
        padding: 48px;
        width: 50%;
        
    }
    &__name {        
        padding-bottom: 24px;
        max-width: 504px;
        line-height: 59px;
        font-size: $font-size-title;
        font-weight: $font-weight-big;
        color: $color-text-1;
    }
    &__descrip {
        max-width: 400px;
        padding-bottom: 36px;
        line-height: 32px;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        color: $color-text-1;
    }
    &__btn {
        height: 66px;
        line-height: 141.69%;
        cursor: pointer;
    }

}
.footer {
    background-color: $background-green;    
    padding: 60px 0px;    

    &__text {
        margin: 0;        
        text-align: center;
        font-size: $font-size-normal;
        font-weight: $font-weight-fat;  
        line-height: 29px; 
    }
}
@import 'tablet';
@import 'mobile';
@import 'custom';