@import 'variables';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top {
    height: 800px;

    &__header {        
        padding-top: 196px;
        padding-bottom: 246px;
        background-color: #E1FF8F;
        background-image: url('./img/star-1.png'), url('./img/star-2.png'), url(./img/star-3.png);
        background-position: 63px 69px, 100% 0, calc(100% - 344px) calc(100% - 149px);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    &__sect {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__content {
        max-width: 769px;              
    }
    &__title {
        font-weight: $font-weight-big;
        color: $color-text-1;
        font-size: $font-size-big;
        line-height: 78px;
    }
    &__text {
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        color: $color-text-1;
        max-width: 720px
    }
    &__btn {
        color: $color-text-2;
        text-decoration-line: none;
        font-size: $font-size-normal;
        font-weight: $font-weight-fat;
        font-size: $font-size-normal;
        font-family: inherit;
        background: $color-border-dark;
        box-sizing: border-box;
        width: 247px;
        padding: 16px 65px;
        border-radius: 60px;
        &:hover {
            background-color: $color-border-wite;
            color: $color-text-1;
            transition: all 0.5s ease;
        }
    }
}
.about {
    height: 1470px; /*высоту убрать*/
    padding-top: 94px;
    padding-bottom: 50px;
    background-color: $background-dark;
    background-image: url('./img/star-4.png'), url('./img/star-5.png');
    background-position: 25px 77px, calc(100% - 77px) calc(100% - 814px);
    background-repeat: no-repeat;


    &__title {
        font-weight: $font-weight-big;
        color: $color-text-2;
        font-size: $font-size-big;
        line-height: 78px;
        padding-bottom: 24px;
    }
    &__text {
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        color: $color-text-2;
        max-width: 788px;
        padding-bottom: 72px;
    }
    &__games {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        align-items: flex-start; 
    }
    &__card {
        background-color: $background-wite;
        width: 378px;
        box-sizing: border-box;
        border-radius: 30px;
        text-decoration: none; /* Убираем подчеркивание */
        display: block; /* Делаем ссылку блочным элементом */
        color: $color-text-1; /* Цвет текста - черный */
        &:hover {
        transform: scale(1.05);
        transition: 0.5s;
        }
    &__card img {
        width: 100%; /* Чтобы картинка растягивалась на всю карточку */
        border-radius: 30px 30px 0 0; /* Скругление верхних углов */
    }
    }
    &__card-small {
        align-self: flex-start;
        height: 473px;
        
    }
    &__card-big {
        height: 512px;
    }
    &__card-super {
        height: 551px;          
    }
    &__card-up {
        align-self: flex-start;
    }
    &__card-down {
        align-self: flex-end;
        margin-top: -39px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px 32px 36px 32px;
    }
    &__namber {
        box-sizing: border-box;
        padding: 8px 16px;
        width: 108px;
        border-radius: 52px;
        background-color: $background-game;
        font-size: $font-size-small;
        font-weight: $font-weight-small;

    }
    &__name {
        font-size: $font-size-average;
        font-weight: $font-weight-big;
    }








}


